body {
    margin: 0 0 0 0;

    color: #000;
    font-family: Inter, serif;
    font-size: 40px;
}

.main-controls__inputs-list {
    margin-top: 30px;
    padding-left: 0;
    display: grid;
    justify-content: center;
}

.main-controls__inputs-list-item {
    width: 617px;
    margin-top: 52px;

    display: flex;
    justify-content: space-between;
}

.main-controls__inputs-list-item:first-child {
    margin-top: 0;
}

.main-controls__inputs-list-item input {
    margin-left: 47px;

    border: black solid 2px;

    height: 49px;
    width: 405px;
}

.main-controls__inputs-list-item p {
    margin: 0 0 0 0;
}

.main-controls__container-show-weather {
    height: 91px;
    width: 617px;

    color: #fff;
    font-size: 40px ;

    border-radius: 8px;
    padding: 21px 144px 21px 144px;
    background: #B6C9F9;
    border: 0px;
}

.main-controls__container {
    display: grid;
    justify-content: center;
}

.weather-info {
    display: flex;
    justify-content: center;
}

.weather-info__list {
    padding-left: 0;

    width: 617px;
    list-style-type: none;

    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

h2 {
    color: #F5F4F4;
    font-size: 20px;
    font-weight: 400;
    margin-left: 11px;
}

.weather-info__list-item {
    background-color: #B6C9F9;
    border-radius: 10px;
    margin-bottom: 2px;
    height: 100px;
    width: 49.7%;
}

.weather-info__list-item:first-child {
    height: 100px;
    width: 100%;
}

.weather-info__list-item:last-child {
    height: 100px;
    width: 100%;
}

.weather-info__list-item p {
    margin-top: -10px;
    text-align: center;
    font-size: 32px;
    color:#ffffff;
}

.aside-info {
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
}


.aside-info__map {
    width: 300px;
    height: 300px;
}

.aside-info_photo-list {
    padding-left: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.aside-info_photo-list li {
    list-style-type: none;

    width: 49%;
    height: 133px;
    margin-bottom: 2px;
}

.aside-info_photo-list li:first-child {
}